body {
    background-color: black;
    color: aliceblue;
}

h1,
h3 {
    text-align: center;
}

.title-intro {
    display: flex;
    justify-content: center;
}

.enemy-profile-container {
    display: flex;
}

.enemy-profile-container img { 
    width: 375px;
    height: auto;
    margin: auto;
    margin-top: 50px;
}


.player-weapon-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.weapon-title {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 25px;
}

.weapon-buttons {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: crimson;
    color: deepskyblue;
    height: 200px;
    width: 300px;
    border-radius: 75px;
    margin-left: 20px;
    margin-right: 20px;
}